*{
    padding: 0;
    margin: 0;
}

h1{
    padding-left: 60px;
}
nav{
    background-color: black;
    height: 60px;
    color: white;
    padding-top: 35px;
}
nav ul a{
    text-decoration: none;
    color:gray;
}
#about{
    color: white;
}
li,h1,ul{
    display: inline;
}
ul
{
    color: gray;
    cursor: pointer;
    margin-left: 53%;
}
a:hover{
    color: white;
}

.pics{
    display:flex ;
    justify-content: space-around;

}



